
.wrapper{
    width: 95%;
    margin: 0 auto;
}

.footer{
	clear: left;
	float: left;
}

.footer li{
		list-style: circle;
	
		font-size: 15px;
		width: 30%;
	    float: left;
		
	
	}


@media screen and (max-width:700px){
	.wrapper li{
	float: left;
	padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	width:100%;
	height: auto;
	list-style-type:none;
	border:1px bold;
	text-align:center;
}
 
	.wrapper li img{
		width: 95%;
	}
	
	#p1 source{
		srcset: images/400x3000001.png;
		alt: "size is 400x300"
		
	}
	
	#p2 source{
		srcset: images/400x3000002.png;
		
	}
	
	#p3 source{
		srcset: images/400x3000003.png;
		
	}
	
	#p4 source{
		srcset: images/400x3000004.png;
		
	}
	
	#p5 source{
		srcset: images/400x3000005.png;
		
	}
	
	#p6 source{
		srcset: images/400x3000006.png;
		
	}
	
	#p7 source{
		srcset: images/400x3000007.png;
		
	}
	
}
	
	


@media screen and (min-width: 700px) and (max-width: 1500px){
	.wrapper li{
	float: left;
	padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	width:45%;
	height: auto;
	list-style-type:none;
	border:1px bold;
	text-align:center;
	
}
 
	.wrapper li img{
		width: 95%;
	}
	
	#p1 source{
		srcset: images/600x4500001.png;
		
	}
	
	#p2 source{
		srcset: images/600x4500002.png;
		
	}
	
	#p3 source{
		srcset: images/600x4500003.png;
		
	}
	
	#p4 source{
		srcset: images/600x4500004.png;
		
	}
	
	#p5 source{
		srcset: images/600x4500005.png;
		
	}
	
	#p6 source{
		srcset: images/600x4500006.png;
		
	}
	
	#p7 source{
		srcset: images/600x4500007.png;
		
	}
	
	
	
}

@media screen and (min-width: 1500px){
	.wrapper li{
	float: left;
	padding: 5px 0 5px 0;
	margin: 0 0 10px 0;
	width:25%;
	height: auto;
	list-style-type:none;
	border:1px bold;
	text-align:center;
	
}
 
	.wrapper li img{
		width: 95%;
	}
	
	#p1 source{
		srcset: images/800x6000001.png;
		
	}
	
	#p2 source{
		srcset: images/800x6000002.png;
		
	}
	
	#p3 source{
		srcset: images/800x6000003.png;
		
	}
	
	#p4 source{
		srcset: images/800x6000004.png;
		
	}
	
	#p5 source{
		srcset: images/800x6000005.png;
		
	}
	
	#p6 source{
		srcset: images/800x6000006.png;
		
	}
	
	#p7 source{
		srcset: images/800x6000007.png;
		
	}

	
}
